{{ define "layout" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ if .Title }}{{ .Title }} · {{ .SiteName }}{{ else }}{{ .SiteName }}{{ end }}</title>
    <link rel="stylesheet" href="/static/app.css" />
    <meta name="description" content="{{ .SiteDescription }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ if .Title }}{{ .Title }} · {{ .SiteName }}{{ else }}{{ .SiteName }}{{ end }}" />
    <meta property="og:description" content="{{ .SiteDescription }}" />
    <meta property="og:url" content="{{ .BaseURL }}" />
    <meta property="og:site_name" content="{{ .SiteName }}"/>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "{{ .SiteName }}",
      "url": "{{ .BaseURL }}"
    }
    </script>
  </head>
  <body>
    <header>
      <h1>{{ .SiteName }}</h1>
    </header>
    <main>
      {{ block "content" . }}{{ end }}
    </main>
    <footer>
      <small>Env: {{ .Env }}</small>
    </footer>
  </body>
</html>
{{ end }}
